#mainPaneContainer{
    border-bottom: 5px solid #888;
    overflow: hidden;
}
#headerPane{
    overflow: hidden;
}
.pane{
    padding:5px;
    overflow: hidden;
}

.panel-heading{
    border-radius: 0px;
    padding: 5px;
}

.lecture-item{
    border-bottom: 1px dashed #ccc;
}

.lecture-item.highlighted{
    background-color: #4BAA4B;
}

.lecture-item:hover{
    background: #ccc;
}

/* CSS for Layout pane svg holder*/

.svg-holder {
    width: 100%;
    height: 100%;
}


.svg-holder svg{
    /*display: inline-block;*/
    height:inherit;
    width:inherit;
    /*align-items: stretch;*/

}
/* CSS for Date Picker*/

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

/*CSS for UI -layout*/

.ui-layout-column > .ui-splitbar{
    background: #888;
}

/*DatePicker*/

.datePicker{
    height: 55px;
    padding: 18px 0px 15px 0px;
}

/*playButton*/

.playButton{
    height:55px;
      padding:18px;

  }

.playButton button {
    margin-left: 15px;

}

/*For datepicker*/
.dropdowm-menu{
    top:500px;
}
