<div ng-controller="dataDisplayCtrl"   >

    <!-- section for controls -->
    <section class="text-right" id="controlButtons">

        <input type="file" name="excel" accept="xlsx" id="excelImport" style="visibility: hidden; position: absolute" >
        <button type="submit" ng-click="getExcelFile()">Import</button>
        <button type="submit" ng-click="saveExcelFile()">Export</button>


    </section>

    <section ng-if='groups.length==0' style='height: 100%; width: 100%; margin: 0 auto;'>
        <div class="text-center" style='padding-top: 50px'>No data</div>
    </section>


    <!-- section for table -->
    <section style='padding: 10px 10px;'>

        <uib-accordion close-others="true">

            <uib-accordion-group is-open="group.isOpen" ng-repeat="group in groups" >

                <uib-accordion-heading ><i class="glyphicon-plus"></i> {{ group.name }}
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.isOpen, 'glyphicon-chevron-right': !group.isOpen}"></i>
                    <i class="pull-right" ng-if='!$first' ng-class='group.desksAlloted < group.totalDesksNeeded ? "allotmentNeeded" : "allotmentNotNeeded"' > Desks:<span style='z-index:10' ng-click="allotDesks(group)">{{group.desksAlloted}}</span>/{{group.totalDesksNeeded}}</i>
                </uib-accordion-heading>

                <div ng-if='$first'  >
                    <div class='row' style='background-color: #ddd; font-weight: bold'>
                        <div class='col-sm-4 text-center' ng-repeat="head in group.headers">{{head}}</div>
                    </div>

                    <div ng-repeat="row in group.rows" ng-class='"row lecture-item"'>
                        <div class='col-sm-4 text-center' ng-repeat="head in group.headers">{{ row[head]}}</div>
                    </div>
                </div>
                <div  ng-if='!$first' >
                    <div class='row' style='background-color: #ddd; font-weight: bold'>
                        <div class='col-sm-2 text-center' ng-if='$index <6' ng-repeat="head in group.headers">{{head}}</div>
                    </div>

                    <div ng-repeat="row in group.rows" ng-class='activeDate==row["formattedDate"] ? "row lecture-item highlighted" : "row lecture-item"'
                         ng-click="selectedRow(row)" >
                        <div class='col-sm-2 text-center' ng-if='$index <5' ng-repeat="head in group.headers">{{ row[head]}}</div>
                        <div class='col-sm-2 text-center' ng-if='$index ==5' ng-repeat="head in group.headers"> Need to work on</div>
                    </div>
                </div>

            </uib-accordion-group>

        </uib-accordion>

    </section>

</div>